@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #95a5a6;
  font-family: "Roboto", sans-serif;
}
.calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  min-width: 40vw;
  background-color: #bdc3c7;
  font-size: calc(20px + 1vw);
  max-height: 100vh;
}
.button {
  background-color: #ecf0f1;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
#title {
  grid-area: 1/1/2/5;
  padding: 20px;
}

#formula {
  grid-area: 2/1/3/5;
  padding: 20px;
  text-align: right;
}
#display {
  grid-area: 3/1/4/5;
  padding: 20px;
  text-align: right;
}

#equals {
  background-color: #f1c40f;
  color: white;
}
#add,
#subtract,
#multiply,
#divide {
  color: #f1c40f;
}
#title {
  border-bottom: 1px ridge #7f8c8d;
}
.sign {
  font-weight: bold;
}
/* #zero {
  grid-area: 8/2/9/4;
}
#clear {
  grid-area: 4/1/5/3;
} */
/* @media only screen and (max-width: 414) {
  .calculator {
    
    max-height: 100vh;
    width: auto;
  }
} */

@media only screen and (max-width: 900px) {
  .calculator {
    height: 95vh;
    min-width: 80vw;
  }
}
